html {
  font-size: 1rem;
}

@media (min-width: 576px) {
  html {
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 1.4rem;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 1.6rem;
  }
}

div.story {
  padding: 0.5em;
  margin: 0.5em;
}

a.story:link {
  color: black;
}

a.story:visited {
  color: gray;
}

.small {
  line-height: 90%;
}

main {
  padding-top: 3.5em;
}
